[Desktop Entry]
Encoding=UTF-8
Name=WmTetris
Comment=Tetris game
Comment[pl]=Gra Tetris
Exec=wmtetris
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
